.botones{
    background-image: url('../img/botones/boton.png');
    background-color: transparent;
    border: none;
    width: 135px;
    height: 45px;
}

.botones:hover{
    background-color: transparent !important;
    border: none !important;
}


.si{
    background-image: url('../india/img/salirSi.png');
    background-color: transparent;
    border: none;
    width: 135px;
    height: 45px;
}

.si:hover{
    background-color: transparent !important;
    border: none !important;
}

.no{
    background-image: url('../india/img/salirNo.png');
    background-color: transparent;
    border: none;
    width: 135px;
    height: 45px;
}

.no:hover{
    background-color: transparent !important;
    border: none !important;
}