p,h1,h2,h3,h4,h5,span,label,input,button,.alert{
    font-family: 'Pixelify Sans', sans-serif !important;
}


.map-container{
    display: grid; 
    align-content: center;
}

.map-container .content{
    /* border: 1px solid black; */
    border-radius: 31px;
    margin-top: 35px;
    box-shadow: 1px 1px 4px 0px #000000;
    background-color: #74ccf4;
}

.map-container .escenario{
    position: absolute;
    width: 250px;
}

.map-container #india.escenario{
    top: 0px;
}

.map-container #kenia.escenario{
    bottom: 0px;
}

.map-container #brasil.escenario{
    bottom: 420px;
    right: 50px;
}

.content{
    margin: auto;
    position: relative;
}

#mapa{
    margin: auto;
}

#nivel1,#nivel2,#nivel3,#nivel4,#nivel5{
    width: 25px;
    position: absolute;
    opacity: 0.5;
    z-index: 999;
}

.nivel{
    cursor: pointer;
}

#nivel1{
    top: 27%;
    left: 45%;
}

#nivel2{
    top: 40%;
    left: 67%;
}

#nivel3{
    top: 50%;
    left: 55%;
}

#nivel4{
    top: 62%;
    left: 32%;
}

#nivel5{
    top: 53%;
    left: 28%;
}

#laia{
    top: 38px;
    left: 195px;
    z-index: 999 !important;
}

#alisha{
    top: 62px;
    left: 370px;
}

#cauan{
    top: 125px;
    left: 107px;
}

#malik{
    top: 123px;
    left: 250px;
}


/* CSS linea */
#nivel1,#nivel2,#nivel3,#nivel4,#nivel5 {
  position: absolute;
}
#linea1,#linea2,#linea3,#linea4,#linea5 {
  position: absolute;
  height:2px;
  background-color: #d63030;
  transform-origin: left;
  display: none;
}

/* CSS linea */


html,body {
    height:100%;
    width:100%;
    margin:0;
}

body {
    display:flex;
    background-color: #000000;
}



form {
    margin:auto;
}

.cerrar-sesion{
    text-align: right;
    margin-top: 15px;
}

.login-bar-section{
    text-align: right;
}

#login button[name="login"],#registro button[name="registro"]{
    margin: auto;
}

#login .logo{
    margin: auto;
    width: 338px;
}

.pixelart-to-css {
    box-shadow: 60px 50px 0 0 rgba(255, 0, 0, 1), 70px 50px 0 0 rgba(255, 0, 0, 1), 80px 50px 0 0 rgba(255, 0, 0, 1), 90px 50px 0 0 rgba(255, 0, 0, 1), 100px 50px 0 0 rgba(255, 0, 0, 1), 110px 50px 0 0 rgba(255, 0, 0, 1), 120px 50px 0 0 rgba(255, 0, 0, 1), 130px 50px 0 0 rgba(255, 0, 0, 1);
    height: 10px;
    width: 10px;
  }

.listado-usuarios-title{
    text-align: center;
}

.banner-section{
    text-align: center;
}

.container.landing-page{
    box-shadow: 0px 2px 22px 17px rgba(81,171,199,0.75), 0px -192px 22px 17px rgba(4,92,44,0.75), 0px 200px 22px 17px rgba(81,171,199,0.75);
}

.landing-page .header-section{
    backdrop-filter: blur(10px) saturate(70%);
}

.landing-page .header-section-intro{
    margin: auto;
}

body .landing-page{
    height: fit-content;
    background-image: url('../img/escenarios/landing2.png');
    background-size: cover;
}

.landing-page #banner{
    width: 50%;
}

.margin-center{
    margin: auto;
}

.fa-actions{
    text-align: right;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
}

/* Bocadillo */
.bocadillo-cuadrado {
    position: absolute;
    height: 160px;
    width: 240px;
    background: white;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    display: none;
    
}
.bocadillo-cuadrado:before {
    border: 15px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -26px;
    left: calc(50% - 25px)
}

.bocadillo-cuadrado p{
    font-size: 11px;
    padding: 5px;
    /* padding-top: 25px; */
    display: -webkit-box;
    max-width: 220px;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 140px;
    font-family: 'Pixelify Sans', sans-serif;
}

.header-section-intro > p{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 16px;
}

div.text { 
    /* height: 0px;  */
    /* white-space: nowrap;  */
    overflow: hidden;  
}

#bocadillo-cuadrado1{
    top: -36%;
    left: 27%;
    z-index: 1000;
    display: none;
}
#bocadillo-cuadrado2{
    top: -24%;
    left: 49%;
    z-index: 1000;
}
#bocadillo-cuadrado3{
    top: -13%;
    left: 37%;
    z-index: 1000;
}
#bocadillo-cuadrado4{
    top: -2%;
    left: 14%;
    z-index: 1000;
}
#bocadillo-cuadrado5{
    top: -10%;
    left: 10%;
    z-index: 1000;
}
/* Bocadillo */

button.audio{
    width: 50px;
    height: 17px;
    padding: 0;
    font-size: 11px;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

button.audio-close{
    position: absolute;
    right: 0;
    font-size: 9px;
}


.landing-juegos > h2{
    display: inline-block;
    padding-right: 15px;
}

.custom-alert{
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.personaje{
    position: absolute;
    width: 31px;
}

@media (min-width: 768px) and (max-width: 991px){
    
    #nivel1,#nivel2,#nivel3,#nivel4,#nivel5{
        width: 25px;
    }
    
    #nivel1{
        top: 28%;
        left: 45%;
    }

    #nivel2{
        top: 41%;
        left: 68%;
    }

    #nivel3{
        top: 51%;
        left: 56%;
    }

    #nivel4{
        top: 62%;
        left: 33%;
    }

    #nivel5{
        top: 54%;
        left: 28%;
    }

    #bocadillo-cuadrado1{
        top: -14%;
        left: 31%;
        z-index: 1000;
    }
    #bocadillo-cuadrado2{
        top: -7%;
        left: 54%;
        z-index: 1000;
    }
    #bocadillo-cuadrado3{
        top: 3%;
        left: 42%;
        z-index: 1000;
    }
    #bocadillo-cuadrado4{
        top: 14%;
        left: 19%;
        z-index: 1000;
    }
    #bocadillo-cuadrado5{
        top: 6%;
        left: 14%;
        z-index: 1000;
    }

    .personaje{
        position: absolute;
        width: 31px;
    }

    #laia{
        top: 66px;
        left: 270px;
    }
    
    #alisha{
        top: 125px;
        left: 500px;
    }
    
    #cauan{
        top: 195px;
        left: 157px;
    }
    
    #malik{
        top: 163px;
        left: 350px;
    }

  }

  @media (min-width: 992px) and (max-width: 1199px){
    
    #nivel1,#nivel2,#nivel3,#nivel4,#nivel5{
        width: 30px;
    }
    
    #nivel1{
        top: 29%;
        left: 45%;
    }

    #nivel2{
        top: 41%;
        left: 68%;
    }

    #nivel3{
        top: 51%;
        left: 56%;
    }

    #nivel4{
        top: 62%;
        left: 33%;
    }

    #nivel5{
        top: 53%;
        left: 28%;
    }

    #bocadillo-cuadrado1{
        top: -7%;
        left: 35%;
        z-index: 1000;
    }
    #bocadillo-cuadrado2{
        top: 5%;
        left: 58%;
        z-index: 1000;
    }
    #bocadillo-cuadrado3{
        top: 15%;
        left: 46%;
        z-index: 1000;
    }
    #bocadillo-cuadrado4{
        top: 26%;
        left: 23%;
        z-index: 1000;
    }
    #bocadillo-cuadrado5{
        top: 17%;
        left: 18%;
        z-index: 1000;
    }

    .personaje{
        width: 40px;
    }

    #laia{
        top: 100px;
        left: 375px;
    }

    #alisha{
        top: 172px;
        left: 665px;
    }
    
    #cauan{
        top: 265px;
        left: 210px;
    }
    
    #malik{
        top: 233px;
        left: 475px;
    }

}

  @media (min-width: 1200px) and (max-width: 1399px){
    
    #nivel1,#nivel2,#nivel3,#nivel4,#nivel5{
        width: 35px;
    }
    
    #nivel1{
        top: 29%;
        left: 45%;
    }

    #nivel2{
        top: 41%;
        left: 68%;
    }

    #nivel3{
        top: 51%;
        left: 56%;
    }

    #nivel4{
        top: 62%;
        left: 33%;
    }

    #nivel5{
        top: 53%;
        left: 28%;
    }

    #bocadillo-cuadrado1{
        top: -2%;
        left: 37%;
        z-index: 1000;
    }
    #bocadillo-cuadrado2{
        top: 10%;
        left: 60%;
        z-index: 1000;
    }
    #bocadillo-cuadrado3{
        top: 20%;
        left: 48%;
        z-index: 1000;
    }
    #bocadillo-cuadrado4{
        top: 31%;
        left: 25%;
        z-index: 1000;
    }
    #bocadillo-cuadrado5{
        top: 22%;
        left: 20%;
        z-index: 1000;
    }

    .personaje{
        width: 46px;
    }

    #laia{
        top: 118px;
        left: 445px;
    }

    #alisha{
        top: 212px;
        left: 790px;
    }
    
    #cauan{
        top: 315px;
        left: 260px;
    }
    
    #malik{
        top: 283px;
        left: 575px;
    }

  }

  @media (min-width: 1399px){
    
    #nivel1,#nivel2,#nivel3,#nivel4,#nivel5{
        width: 35px;
    }
    
    #nivel1{
        top: 29%;
        left: 45%;
    }

    #nivel2{
        top: 41%;
        left: 68%;
    }

    #nivel3{
        top: 51%;
        left: 56%;
    }

    #nivel4{
        top: 62%;
        left: 33%;
    }

    #nivel5{
        top: 53%;
        left: 28%;
    }

    #bocadillo-cuadrado1{
        top: 2%;
        left: 38%;
        z-index: 1000;
    }
    #bocadillo-cuadrado2{
        top: 14%;
        left: 61%;
        z-index: 1000;
    }
    #bocadillo-cuadrado3{
        top: 24%;
        left: 49%;
        z-index: 1000;
    }
    #bocadillo-cuadrado4{
        top: 35%;
        left: 26%;
        z-index: 1000;
    }
    #bocadillo-cuadrado5{
        top: 26%;
        left: 21%;
        z-index: 1000;
    }

    .personaje{
        width: 46px;
    }

    #laia{
        top: 140px;
        left: 525px;
    }

    #alisha{
        top: 252px;
        left: 900px;
    }
    
    #cauan{
        top: 365px;
        left: 310px;
    }
    
    #malik{
        top: 333px;
        left: 670px;
    }
    
  }