html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(22, 1fr);
    overflow: hidden;

}

.cell {
    border: 1px solid black;
    aspect-ratio: 1/1;
}

/*.cell2 {
   border: 1px solid black;
   aspect-ratio: 1/1;
}*/

#caja{
    width: 800px;
    height: 800px;
    background-image: url(../media/fondo.jpg);
    background-size: cover; /* La imagen se ajustará para cubrir todo el espacio */
    background-position: center; /* La imagen se centrará horizontalmente */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}