body{
    background-image: url(../img/taj1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h3,h2,p,button{
    font-family: 'Pixelify Sans', sans-serif !important;
}

i{
    font-family: cursive;
    font-size: 20px;
}

#jugar p{
    font-size: 22px;
}

.container#game{
    position: absolute;
    /* top: 135px; */
    top: 127px;
    left: 118px;
}

.content{
    position: relative;
}

.botones-juego{
    margin-top: 15px;
    padding-right: 45px;
    padding-left: 25px;
}

.botones-juego #volver:hover{
    filter: brightness(110%);
}

.botones-juego .volver.pulsado{
    background-position-x: 95px;
}

.botones-juego #volver{
    background-color: transparent;
    border: none;
    right: 10px;
    top: 2px;
}

#game .bocadillo-cuadrado .audio-close{
    opacity: 1;
}

.play{
    background-image: url(../img/musica/musica.png);
    width: 43px;
    height: 38px;
    background-size: 94px;
    background-position-x: 43px;
    border-radius: 7px;
}

.pausa{
    background-image: url(../img/musica/musica.png);
    width: 57px;
    height: 38px;
    background-size: 94px;
    background-position-x: 96px;
    border-radius: 7px;
}

.play:hover,.pausa:hover{
    cursor: pointer;
}

.grid-container{
    display: inline-block;
    position: absolute;
}

#player{
    position: absolute;
    margin: 0;
}

#character {
    position: absolute;
    /* width: 46px;
    height: 73px; */
    width: 30px;
    height: 54px;
    z-index: 4100;
}

#character > img{
    /* width: 46px;
    height: 73px; */
    width: 35px;
    height: 54px;
}

#character0 {
    position: absolute;
    background: blue;
    z-index: 5000;
}

#character1 {
    position: absolute;
    background: green;
    z-index: 5000;
}

#character2 {
    position: absolute;
    background: yellow;
    z-index: 5000;
}

.grid-container.colisionable.arbol{
    width: 72px !important;
    height: 72px !important;
    z-index: 5000;
}

.grid-container.colisionable.arbol > img{
    width: 72px !important;
    height: 72px !important;
}


.grid-container.colisionable.casa{
    width: 105px !important;
    height: 72px !important;
    z-index: 5000;
}

.grid-container.colisionable.casa > img{
    width: 105px !important;
    height: 72px !important;
}

.grid-container.colisionable.alisha{
    width: 105px !important;
    height: 72px !important;
    z-index: 5000;
}

.grid-container.colisionable.alisha > img{
    width: 105px !important;
    height: 72px !important;
}

.grid-container.colisionable.cole{
    width: 125px !important;
    height: 112px !important;
    z-index: 5000;
}

.grid-container.colisionable.cole > img{
    width: 125px !important;
    height: 112px !important;
    filter: brightness(0%);
    transition: filter 1.5s ease-in-out;
}

#rayos{
    position: absolute;
    filter: brightness(100%);
    left: 40px;
    width: 40px !important;
    height: 80px !important;
    top: 20px;
}

.grid-container.colisionable.gandhi{
    width: 70px !important;
    height: 75px !important;
    z-index: 5000;
}

.grid-container.colisionable.taj_mahal{
    width: 122px !important;
    height: 92px !important;
    z-index: 5000;
}

.grid-container.colisionable.vaca{
    width: 96px !important;
    height: 63px !important;
    z-index: 5000;
}

.grid-container.colisionable.figura > #vaca{
    width: 96px !important;
    height: 63px !important;
    cursor: pointer;
    animation: zoom-in-zoom-out 1.5s ease infinite;
}

.grid-container.colisionable.figura > #taj_mahal{
    width: 122px !important;
    height: 92px !important;
    cursor: pointer;
    animation: zoom-in-zoom-out 1.5s ease infinite;
}

.grid-container.colisionable.figura > #gandhi{
    width: 70px !important;
    height: 75px !important;
    cursor: pointer;
    animation: zoom-in-zoom-out 1.5s ease infinite;
}

.grid-container.colisionable.muroLeft{
    left: 29px !important;
    width: 28px !important;
    height: 48px;
    z-index: 6000;
}

img[name="muroLeft"] {
    transform: scaleX(-0.2);
}

.grid-container.colisionable.muroRight{
    left: 1603px !important;
    width: 10px !important;
    height: 48px;
    z-index: 6000;
}

img[name="muroRight"] {
    transform: scaleX(-0.2);
}

.grid-container.colisionable.muroUp{
    top: 17px !important;
    height: 34px !important;
    z-index: 6000;
}

img[name="muroUp"] {
    transform: scaleY(-0.3);
}

.grid-container.colisionable.muroDown{
    top: 727px !important;
    height: 39px;
    z-index: 6000;
}

img[name="muroDown"] {
    transform: scaleY(-0.7);
    width: 48px;
    height: 48px;
}


#tiempo{
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 22px;
    width: 180px;
    float: left;
}

#player-panel{
    background-color: black;
    height: 85px;
    /* margin-top: 10px; */
    position: absolute;
    left: 131px;
    top: 70px;
}

#player-panel.container{
    max-width: 1675px;
}

/* #player-panel .content-items{
    width: 640px;
    margin: auto;
} */

#player-panel .content-items .items-owned{
    display: inline-block;
    width: 315px;
}

#player-panel .content-items .items-owned .item{
    width: 84px;
    height: 84px;
    border: 1px solid white;
    margin-right: 80px;
    border-radius: 10px;
}

.item-visible{
    visibility: visible !important;
}

#player-panel .content-items .items-owned .item img{
    width: 83px;
    height: 83px;
    border: 1px solid white;
    border-radius: 7px;
    visibility: hidden;
}

.grid-container.droppable > #dragPieza0,
.grid-container.droppable > #dragPieza1,
.grid-container.droppable > #dragPieza2{
    width: 120px;
    height: 120px;
    z-index: 8000;
    position: absolute;
    border: none;
    box-shadow: none;
}

#player-panel .content-items .items-owned table{
    margin: auto;
}

#player-panel .imagen{
    /* width: 140px; */
    float: left;
    margin-right: 60px;
}

#player-panel .imagen img{
    border-radius: 20px;
    width: 40px;
}

.title{
    text-align: center;
    padding-bottom: 30px;
}

#superado{
    position: absolute;
    width: 740px;
    height: 380px;
    top: 20%;
    left: 33%;
    z-index: 50000;
    background-color: white;
    font-size: 33px;
    border-radius: 21px;
    box-shadow: 0px 0px 0px 1px;
    
}

#superado .modal-content{
    height: 230px;
    width: 90%;
    margin: 10% auto;
    background-color: transparent;
    border: none;
}

#superado .modal-body{
    padding-top: 26px;
    color: purple;
}

#superado .modal-footer {
    display: block;
    border-top: none;
    padding: 0;
}

#superado #error-close{
    position: absolute;
    right: 41px;
    top: 29px;
    background-size: 43px;
    background-image: none;
    --bs-btn-close-focus-shadow: none;
}

#superado .modal-footer img{
    width: 100px;
}

#superado .modal-footer button{
    float: right;
}

.success{
    background-image: url('../img/estrellas.gif');
}

#superado .modal-footer #img_notis{
    display: none;
}

.error{
    background-image: url('../img/error.png');
    display: block;
    background-size: 797px;
    background-position-x: -28px;
    background-position-y: center;
    background-color: transparent !important;
    box-shadow: none !important;
}


.modal {
    display: none;
    position: fixed;
    z-index: 40000;
    left: 0;
    top: -10%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    margin: 9% auto; /* 15% from the top and centered */
    padding: 20px;  
    width: 45%; /* Could be more or less, depending on screen size */
    height: 400px;
    position: relative;
    background-size: cover;
  }

  .juego #contenido1, .juego #contenido2{
    font-size: 22px;
    font-weight: 700;
  }

  #juego1 .title, #juego2 .title{
    text-decoration: underline;
  }

  #jugar .modal-content{
    height: 475px;
    background-color: #7db585;
    box-shadow: 0px 1px 5px 5px rgba(255,255,255,0.75);
  }

  #jugar .modal-content span{
    color: red;
  }

  #acabarJuego{
    display: none;
  }

  .resize-modal{
    height: 265px !important;
    margin-top: 185px !important;
  }

  .bgColor{
    background-color: rgba(0,0,0,0);
  }

  #jugar .modal-content button{
    /* width: 125px; */
    font-size: 25px;
    margin: auto;
    font-size: 20px;
  }

  #juego1 .modal-content{
    background-image: url('../img/fondo_form.png');
  }

  #juego2 .modal-content{
    background-image: url('../img/fondo_form2.png');
    width: 60%;
    height: 640px;
    margin-bottom: 70px;
  }

  #juego3 .modal-content{
    background-image: url('../img/fondo_form3.png');
    width: 53%;
    height: 650px;
    margin-bottom: 70px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    color: black;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }  

.btn-volver{
    text-align: right;
    padding: 5px 10px 10px 0px;
}

  /* Bocadillo */
.bocadillo-cuadrado {
    position: absolute;
    height: 160px;
    width: 240px;
    background: white;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    z-index: 5100;    
}

#bocadillo-cuadrado1:before {
    border: 15px solid #ad5eed;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: 67px;
    left: calc(0% - 30px);
    transform: rotate(90deg);
}

#bocadillo-cuadrado2:before {
    border: 15px solid #ee5627;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: 17px;
    left: calc(0% - 30px);
    transform: rotate(90deg);
}

#bocadillo-cuadrado3:before {
    border: 15px solid #2f93ea;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -26px;
    left: calc(0% - -67px);
    transform: rotate(0deg);
}

#bocadillo-cuadrado4:before {
    border: 15px solid #c4973c;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -26px;
    left: calc(0% - -67px);
    transform: rotate(0deg);
}

#bocadillo-cuadrado5:before {
    border: 15px solid #ed160f;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -26px;
    left: calc(0% - -67px);
    transform: rotate(0deg);
}

.bocadillo-cuadrado p{
    font-size: 13px;
    padding: 5px;
    display: -webkit-box;
    max-width: 220px;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 140px;
    color: white;
}

button.audio{
    background-image: url(../../img/botones/iconos.png);
    background-color: transparent;
    background-size: 30px;
    width: 30px;
    height: 21px;
    padding: 0;
    font-size: 11px;
    position: absolute;
    bottom: 1px;
    right: 1px;
    border-radius: 13px;
    border: none;
}

button.audio:hover{
    background-color: transparent;
}

button.audio-close{
    position: absolute;
    right: 0;
    font-size: 9px;
}

#bocadillo-cuadrado1{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear; 
    background-color: #ad5eed
}

#bocadillo-cuadrado2{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear; 
    background-color: #ee5627;
}

#bocadillo-cuadrado3{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear; 
    background-color: #2f93ea;
}

#bocadillo-cuadrado4{
    height: 140px !important;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear; 
    background-color: #c4973c;
}

#bocadillo-cuadrado5{
    height: 100px !important;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear; 
    background-color: #ed160f;
}

.visible{
    visibility: visible !important;
    opacity: 1 !important;
}
  /* Bocadillo */

.parrilla .col.border.droppable{
    border: 1px solid black !important;
}

#salirJuego .modal-content{
    margin-top: 335px;
}

#salirJuego .modal-body p{
    font-size: 42px;
}

#salirJuego .modal-footer{
    display: block;
}

#salirJuego .modal-footer .col-si,#salirJuego .modal-footer .col-no{
    /* position: relative; */
    text-align: center;
}

#salirJuego .modal-footer #si,#salirJuego .modal-footer #no{
    /* position: absolute; */
    top: 0px;
    left: 131px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    width: 108px;
    height: 63px;
    padding: 0;
}

#iniciarJuego{
    /* width: 120px; */
    margin: auto;
    cursor: pointer;
}

/* #iniciarJuego:hover{
    filter: brightness(110%);
} */

#acabarJuego{
    /* width: 115px; */
    margin: auto;
}

/* #acabarJuego:hover{
    filter: brightness(110%);
}


#salirJuego .modal-footer img:hover,#salirJuego .modal-footer img:hover{
    filter: brightness(80%);
}

#salirJuego .modal-footer img:hover,#salirJuego .modal-footer img:hover{
    filter: brightness(110%);
} */

.cursor{
    cursor: pointer;
}

.cursor:hover{
    filter: brightness(110%);
}

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
      filter: brightness(70%)
    }
    50% {
      transform: scale(1.05, 1.05);
      filter: brightness(150%)
    }
    100% {
      transform: scale(1, 1);
      filter: brightness(70%)
    }
  }

  #fondo{
    background-size: cover;
    position: fixed;
    z-index: 100;
    pointer-events: none;
    background-image: url('../../img/escenarios/fondo.png');
    height: 5161px;
    width: 115%;
    top: -734px;
    background-size: 2208px;
    left: -144px;
  }

  #musica,#volver{
    margin-top: 23px;
  }

  #mision{
    display: block;
    z-index: 50000;
  }

  #mision .modal-content{
    width: 82%;
    height: 64%;
    background-color: transparent;
    border: none;
    background-image: url(../img/info_jugar.png);
    background-size: cover;
    background-position-y: 0;
    background-repeat: no-repeat;
  }

  #mision .modal-body{
    padding-top: 60px;
  }

  #mision .carousel-item{
    height: 100%;
  }

  #mision .instruccion1,#mision .instruccion2,#mision .instruccion3{
    text-align: center;
    left: 300;
    font-size: 50px;
  }

  #mision .instruccion2{
    padding-top: 100px;
  }

  #mision .instruccion4,#mision .instruccion5,#mision .instruccion6,#mision .instruccion7,#mision .instruccion6,#mision .instruccion8{
    text-align: center;
    font-size: 37px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #mision .instruccion4,#mision .instruccion6{
    font-size: 29px;
  }
  
  
  #mision .carousel-item #teclas{
    position: absolute;
    left: 613px;
    top: 170px;
    width: 220px;
  }

  #mision .carousel-item #laiaUp,
  #mision .carousel-item #laiaDown,
  #mision .carousel-item #laiaRight,
  #mision .carousel-item #laiaLeft{
    position: absolute;
    width: 40px;
  }

  #mision #capt11{
    position: absolute;
    left: 100px;
    top: 93px;
    width: 629px;
  }

  #mision #capt12{
    position: absolute;
    left: 763px;
    top: 93px;
    width: 602px;
  }

  #mision #pruebas{
    width: 731px;
    margin: auto;
  }
  
  #mision #objetos{
    width: 540px;
    margin: auto;
  }
  
  #mision #validar{
    width: 611px;
    margin: auto;
  }
  
  #mision #colocar{
    width: 1156px;
    margin: auto;
  }

  #mision #completar{
    width: 1097px;
    margin: auto;
  }

  #mision .carousel-item #laiaUp{
    left: 700px;
    top: 80px;
  }

  #mision .carousel-item #laiaDown{
    left: 706px;
    top: 320px;
  }
  #mision .carousel-item #laiaRight{
    left: 850px;
    top: 238px;
  }
  #mision .carousel-item #laiaLeft{
    left: 560px;
    top: 239px;
  }

  #mision .carousel-control-next,
  #mision .carousel-control-prev{

    background-color: black;
    width: 50px;
  }