.container-fluid#game{
    position: absolute;
    bottom: 0;
}

.content{
    position: relative;
}

.grid-container{
    display: inline-block;
    position: absolute;
}

#player{
    position: absolute;
    margin: 0;
}

#character {
    position: absolute;
    width: 32px;
    height: 32px;
    background: red;
    z-index: 1000;
    top:100px;
    left: 200px;
}

#character0 {
    position: absolute;
    width: 32px;
    height: 32px;
    background: blue;
    z-index: 1000;
}

#character1 {
    position: absolute;
    width: 32px;
    height: 32px;
    background: green;
    z-index: 1000;
}

#character2 {
    position: absolute;
    width: 32px;
    height: 32px;
    background: yellow;
    z-index: 1000;
}

#game .content{
    height: 544px;
    width: 1184px;
    margin: auto;
}


#player-panel{
    height: 82px;
    position: relative;
}

#player-panel .content-items{
    /* position: relative; */
}

#player-panel .imagen img{
    position: absolute;
    bottom: 0;
    width: 50px;
}


#myModal{
    z-index: 5000;
}

.title{
    text-align: center;
    padding-bottom: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: -10%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 65%; /* Could be more or less, depending on screen size */
    height: 400px;
    position: relative;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }  



  /* Bocadillo */
.bocadillo-cuadrado {
    position: absolute;
    height: 160px;
    width: 240px;
    background: white;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    /* display: none; */
    
}

#bocadillo-cuadrado1:before {
    border: 15px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: 67px;
    left: calc(0% - 30px);
    transform: rotate(90deg);
}

#bocadillo-cuadrado2:before {
    border: 15px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: 17px;
    left: calc(0% - 30px);
    transform: rotate(90deg);
}

#bocadillo-cuadrado3:before {
    border: 15px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -26px;
    left: calc(0% - -67px);
    transform: rotate(0deg);
}

.bocadillo-cuadrado p{
    font-size: 11px;
    padding: 5px;
    /* padding-top: 25px; */
    display: -webkit-box;
    max-width: 220px;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 140px;
}

button.audio{
    width: 50px;
    height: 17px;
    padding: 0;
    font-size: 11px;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

button.audio-close{
    position: absolute;
    right: 0;
    font-size: 9px;
}

#bocadillo-cuadrado1{
    top: 6%;
    left: 65%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear; 
}

#bocadillo-cuadrado2{
    top: 61%;
    left: 31%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear; 
}

#bocadillo-cuadrado3{
    top: 47%;
    left: 72%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear; 
}

.visible{
    visibility: visible !important;
    opacity: 1 !important;
}
  /* Bocadillo */