.container.game{
    position: absolute;
}

.content{
    position: relative;
}

.grid-container{
    display: inline-block;
    position: absolute;
}

#player{
    position: absolute;
    margin: 0;
}

#character {
    position: absolute;
    width: 32px;
    height: 32px;
    background: red;
    z-index: 1000;
    top:100px;
    left: 200px;
}

#character0 {
    position: absolute;
    width: 32px;
    height: 32px;
    background: blue;
    z-index: 1000;
}

#character1 {
    position: absolute;
    width: 32px;
    height: 32px;
    background: green;
    z-index: 1000;
}

#character2 {
    position: absolute;
    width: 32px;
    height: 32px;
    background: yellow;
    z-index: 1000;
}

.container#game{
    position: absolute;
    top: 15%;
    left: 15%;
}


#myModal{
    z-index: 5000;
}

.title{
    text-align: center;
    padding-bottom: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: -10%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 65%; /* Could be more or less, depending on screen size */
    height: 400px;
    position: relative;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }  