@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif !important;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.container-fluid {
    width: 100%;
    height: 110px;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
}

.punts {
    margin-left: 125px;
    margin-top: 25px;
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */
}

.temps-container {
    margin-right: 245px;
    margin-top: 25px;

}

.tornar {
    margin-right: 125px;
    margin-top: 25px;

}
.puntuacio {
    color: white;
    font-family: 'Pixelify Sans', sans-serif !important;
    padding-right: 50px;
    font-size: 40px;
    /* font-weight: bold; */
}

.temps {
    color: white;
    font-family: 'Pixelify Sans', sans-serif !important;
    font-size: 40px;
    /* font-weight: bold; */
}



.container {
    width: 1100px;
    height: 820px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.quadrat {
    width: 150px;
    height: 120px;
    margin: 20px 100px;
    border-radius: 50%;
    background-color: rgb(165, 85, 11);
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
        inset 0 20px 20px 15px rgba(0, 0, 0, .3),
        0 0 5px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.quadrat img {
    width: 80%;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    animation: aparicio .3s ease-out;
}

@keyframes aparicio {
    0% {
        transform: translateX(-50%) translateY(100%);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}
.cursor {
    height: 110px;
    width: 100px;
    position: fixed;
    top: 100px;
    left: 100px;
    background-image: url(img/martillo.png);
    background-size: 100% 100%;
    transform: translate(-50%, -25%);
    pointer-events: none;
}

.cursor.click {
    transform: translate(-45%, -30%) rotate(-55deg);
}


.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed; /* Cambiado a fixed para asegurar que esté centrado en la página */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Añadido un fondo semitransparente */
}

.modal-content {
    margin: 9% auto;
    padding: 20px;
    width: 45%;
    height: 450px;
    position: relative;
    background-size: cover;
}

.modal-body {
    margin: 20px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-body p {
    font-size: 40px;
}

.modal-footer {
    height: 115px;
    display: block;
    justify-content: center;
    align-items: center;
}

.row {
    margin-top: 18px;
}
.boton-si {
    width: 140px;
    margin-left: 160px;
    border-radius: 20px;
    text-align: center;
}

#confirmarSalir{
    width: 100%;
    background-color: green;
    border-color: green;
    height: 55px;
}
.boton-no  {
    width: 140px;
    border-radius: 20px;
    text-align: center;
}

#no {
    width: 100%;
    margin-left: 50px;
    background-color: red;
    border-color: red;
    height: 55px;
}