@font-face {
    font-family: pixel;
    src: url(../img/DS-TERM.TTF);
}
html {
    /* cursor:  url(../img/cursorMano.png), auto; */
    cursor: grab;

}
#body{
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    background-image: url(../img/background.jpg);
    background-size: cover;
}
p {
    color: greenyellow;
    font-family: 'Pixelify Sans', sans-serif;
}
.app {
    margin: 0;
    padding: 0;
    top: 20%;
    left: 25%;
    position: fixed;
    display: none;
}
.bloques {
    position: absolute;
}
.kong{
    position: absolute;
}
.barrel{
    position: absolute;
    /* border: 1px solid white; */
}
.barrel2 {
    position: absolute;
}
.character{
    position: absolute;
   /* border: 1px solid white; */
    width: 40px;
}
#character {
    width: 40px;
    height: 70px;
    /* width: 70px;
    height: 70px; */
}
.fila1 {
    position: relative;
    right: 19px;
    top: 32px;    
    transform: rotate(-2deg); 
    
}
