@font-face {
    font-family: pixel;
    src: url(../img/DS-TERM.TTF);
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
html , body{
    /* cursor:  url(../img/cursorMano.png), auto; */
    cursor: grab;
    /* height: 100%;
    top: 0; */
    /* filter: hue-rotate(200deg); */
    user-select: none;
}
#body{
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    /* background-image: url(../img/background.jpg); */
    background-color: black;
    background-size: cover;
    overflow: hidden;
}
.buttonSalir{
    display: block !important;
    position: absolute;
}
.app {
    /* box-shadow: white 1px 1px 3px 4px; */
    margin: 0;
    padding: 0;
    /* top: 20%;  */
    left: 20%; 
    /* width: 60%; */
    /* height: 80%; */
    position: fixed;
    display: none;
    /* position: absolute; */
    left: 316px;
}
.vidas {
    position: absolute;
}
.heartImgs {
    width: 40px;
    position: absolute;
}
#heart1 {
    left: 1218px;
    top: 45px;
    /* display: none; */
}
#heart2 {
    left: 1256px;
    top: 45px;
    /* display: none; */
}
.bloques {
    position: absolute;
}
.kong{
    position: absolute;
}
.barrel{
    position: absolute;
    /* border: 1px solid white; */
}
.barrel2 {
    position: absolute;
}
.character{
    position: absolute;
   /* border: 1px solid white; */
    width: 40px;
}
#character {
    width: 40px;
    height: 62px;
    /* width: 70px;
    height: 70px; */
    position: absolute;
}
.barrilesHeight{
    height: 32px;
}
/* .fila1 {
    border: 1px solid white;
} */