@font-face {
    font-family: pixel;
    src: url(../img/DS-TERM.TTF);
}
html , body{
    /* cursor:  url(../img/cursorMano.png), auto; */
    cursor: grab;
    /* height: 100%;
    top: 0; */
}
#body{
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    /* background-image: url(../img/background.jpg); */
    background-color: black;
    background-size: cover;
}
p {
    color: greenyellow;
    font-family: 'Pixelify Sans', sans-serif;
}
.app {
    /* box-shadow: white 1px 1px 3px 4px; */
    margin: 0;
    padding: 0;
    /* top: 20%;  */
    left: 20%; 
    /* width: 60%; */
    /* height: 80%; */
    position: fixed;
    display: none;
}
.bloques {
    position: absolute;
}
.kong{
    position: absolute;
}
.barrel{
    position: absolute;
    /* border: 1px solid white; */
}
.barrel2 {
    position: absolute;
}
.character{
    position: absolute;
   /* border: 1px solid white; */
    width: 40px;
}
#character {
    width: 45px;
    height: 70px;
    /* width: 70px;
    height: 70px; */
}
.barrilesHeight{
    height: 32px;
}
/* .fila1 {
    position: absolute;
    right: 19px;
    top: 32px;    
    transform: rotate(-2deg); 
    
} */
