@keyframes move {
	0% {
        left: 310px;
	}
	100% {
        left: 510px;
	}
}
@keyframes moveAway {
    0% {
        left: 510px;
    }
    100% {
        left: 1460px;
    }
}
@keyframes donkyeAppareance {
    0% {
        transform: rotate(45deg);
        top: 723px;
        left: 0px;
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        top: 693px;
        left: 164px;
    }
}
@keyframes donkeyMoveAway {
    0% {
        left: 164px;
    }
    100% {
        left: 1460px;
    }
}

#deathMenu {
    display: none;
    margin: 0;
    padding: 0;
    top: 20%;
    left: 25%;
    position: fixed;
    width: 900px;
    height: 720px;
    /* display: grid; */
    place-content: center;
}
#showMessage{
    /* border: 1px solid white; */
    height: 100px;
}
.titleMenu {
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    font-weight: bold;
    color: white;
    /* color: green; */
    /* position: absolute; */
    left: 43%;
    top: 30px;
    font-family: 'Pixelify Sans', sans-serif;
}
#showHistory {
    display: none;
}
#exitButton {
    display: none;
}
#controls {
    display: none;
}
#showControls {
    display: none;
}
#donkey_history {
    display: none;
    top: 693px;
    left: 164px;
    position: absolute;
}
.storyImages {
    bottom: -33px;
    position: absolute;
    width: 189px;
    /* left: 310px; */
    /* animation: move 3s linear;  */
    left: 510px;
}
#mensajeHistoria {
    display: none;
    width: 358px;
    height: 180px;
    position: absolute;
    left: 625px;
    bottom: 383px;
    background-color: white;
}
#bocata_Story {
    font-size: 16px;
    display: none;
    width: 367px;
    margin-left: -2px;
    height: 216px;
}
#mensaje1 {
    font-size: 16px;
    display: none;
    top: 11px;
    color: black !important;
    position: absolute;
    padding-left: 5px;
}
.container {
    border: 1px solid white;
    border-radius: 15px;
    width: 1296px;
    height: 836px;
    background-color: rgba(255, 255, 255, 0.525);
    /* background-color: rgba(255, 255, 255, 0.241); */

    text-align: center;
}
.imgKeyboard {
    position: absolute;
    top: 30%;
    left: 38%;
}
.imagenControles {
    position: absolute;
    width: 70px;
    height: 90px;
}
#laiaRight {
    left: 65%;
    top: 50%;
}
#laiaLeft {
    left: 32%;
    top: 50%;
}
#laiaStand{
    top: 17%;
    left: 48%;
}
#esc_key {
    top: 75%;
    left: 30%;
}
#esc_description {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 77%;
    left: 35%;
}
li#goMenu {
    position: absolute;
    left: 1352px;
    top: 68px;
    /* animation: float 4s ease-in-out infinite; */
}
.showLaia{
    /* border: 1px solid white; */
    margin-left: 80px;
    width: 120px;
    /* position: absolute; */
    height: 120px;
    left: 45%;
    top: 20%;
    background-image: url(../img/laia.png);
    background-size: cover;  
}
ul {
    bottom: 50%;
    list-style-type: none;
    
}

li {
    font-size: 20px;
    width: 9em;
    height: 3em;
    color: white;
    /* color: green; */
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}
#buttonContinue{
    margin: 0;
    padding: 0;
    /* top: 20%; */
    /* left: 25%; */
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    
}
.menu_de_inico {
    /* position: absolute; */
    padding-top: 20px;
    text-align: center;
    /* height: 00px; */
}
li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

li span {
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    font-weight: bold;
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    /* border: 0.08em solid; */
    /* background-color: black; */
    background-image: url(../img/boton.png);
    background-size: cover;
    /* background-position:bottom; */

    /* background-color: #333; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pixelify Sans', sans-serif ;
    /* text-transform: capitalize; */
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

li:hover span {
    transform: translateX(0.15em);
}