@keyframes move {
	0% {
        left: 310px;
	}
	100% {
        left: 510px;
	}
}
@keyframes movefinish {
	0% {
        left: 0px;
	}
	100% {
        left: 510px;
	}
}
@keyframes moveAway {
    0% {
        left: 510px;
    }
    100% {
        left: 1460px;
    }
}
@keyframes moveAwayFinish {
    0% {
        left: 510px;
    }
    100% {
        left: 1160px;
    }
}
@keyframes donkyeAppareance {
    0% {
        transform: rotate(45deg);
        top: 723px;
        left: 0px;
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        top: 693px;
        left: 164px;
    }
}
@keyframes donkeyMoveAway {
    0% {
        left: 164px;
    }
    100% {
        left: 1460px;
    }
}
@keyframes animationMenuExit {
    0% {
        transform: scale(1);
        margin-top: 0px;
    }
    100% {
        transform: scale(2.3);
        margin-top: 664px;
    }
}
@keyframes animationMenuExit2 {
    0% {
        transform: scale(2.3);
        margin-top: 664px;
    }
    100% {
        transform: scale(1);
        margin-top: 0px;
    }
}
@keyframes animationMenu {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
/* @keyframes animationMenuDifficult {
    0% {
        width: 100%;
    }
    100% {
        width: 200%;
    }
} */
@keyframes animationMenuDifficult {
    0% {
        transform: scale(1);
        margin-left: 0px;
    }
    100% {
        transform: scale(2.3);
        margin-left: 1371px;
    }
}
@keyframes animationMenuDifficult2 {
    0% {
        transform: scale(2.3);
        margin-left: 1371px;
    }
    100% {
        transform: scale(1.3);
        margin-left: 0px;
    }
}
@keyframes animationMenuCharacter {
    0% {
        transform: scale(1.3);
        margin-left: 0;
    }
    100% {
        transform: scale(2.3);
        margin-left: -1370px ;
    }
}
.spans  {
    position: absolute;
    height: 119px;
    width: 177px;
}
.spansPause {
    position: absolute;
    height: 109px;
    width: 117px;
}
.spans.diff {
    height: 69px;
    width: 117px;
    top: 32px;
    color: white;
    font-size: 27px;
    /* background-image: url(../img/diff-boton.png); */
    background-image: url("");

}
.spans.pause {
    top: 496px;
    /* top: 220px; */
    transform: scale(0.7);
}
.spans#continue_game {
    left: 795px;
    
    /* left: 80px; */
    /* top: 70px;
    transform: scale(0.3); */
}
.diff#diff1 {
    left: 70px;
}
.diff#diff2 {
    left: 190px;
}
.diff#diff3 {
    left: 310px;
}
.diff#diff4 {
    left: 428px;
}

.diff#char1 {
    left: 70px;
}
.diff#char2 {
    left: 190px;
}
.diff#char3 {
    left: 310px;
}
.diff#char4 {
    left: 428px;
}

.spans#playButton {
    left: 795px;
    top: 496px;
}
.spans#idSpanExit {
    left: 986px;
    top: 496px;
    background-image: url(../img/exit-boton.png);
}
.spans#sureToExit {
    left: 130px;
    background-image: url(../img/map-boton.png);
}
.spans#goMenuBack {
    width: 110px;
    left: -47px;
    background-image: url(../img/home-boton.PNG);
}

#controlsTitle {
    color: white;
    
}
#deathMenu {
    display: none;
    margin: 0;
    padding: 0;
    top: 20%;
    left: 25%;
    position: fixed;
    width: 900px;
    height: 720px;
    /* display: grid; */
    place-content: center;
}
#showMessage{
    /* border: 1px solid white; */
    height: 100px;
}
.titleMenu {
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    font-weight: bold;
    color: white;
    /* color: green; */
    /* position: absolute; */
    left: 43%;
    top: 30px;
    font-family: 'Pixelify Sans', sans-serif;
}
#lvlDescription {
    width: 441px;
    top: 190px;
    right: 52px;
    position: absolute;
    color: white;
    font-size: 24px;
}
#imgDescription {
    z-index: 1000;
    width: 65px;
    top: 322px;
    left: 565px;
    position: absolute;
}
#showHistory {
    display: none;
}
#exitButton {
    display: none;
}
#controls {
    display: none;
}
#showControls {
    background-image: url(../img/controls-back2.png);
    background-size: cover;
    display: none;
}
#donkey_history {
    display: none;
    top: 693px;
    left: 164px;
    position: absolute;
}
.storyImages {
    bottom: -33px;
    position: absolute;
    width: 189px;
    /* left: 310px; */
    /* animation: move 3s linear;  */
    left: 510px;
}
.mensajesHistoria {
    width: 358px;
    height: 180px;
    position: absolute;
    left: 625px;
    bottom: 383px;
    background-color: white;
}
#mensajeHistoria {
    display: none;
}
#mensajeHistoriaFinal {
    display: none;
    width: 315px;
    height: 211px;
}
#bocata_Story {
    font-size: 16px;
    display: none;
    width: 367px;
    margin-left: -2px;
    height: 216px;
}
.mensajes {
    font-size: 16px;
    top: 11px;
    color: black !important;
    position: absolute;
    padding-left: 5px;
}
#mensaje1 {
    display: none;
}
#mensajeFinal {
    display: none;
    padding: 0 30px 0px 40px;
}
#bocata_StoryFinal {
    position: absolute;
    left: -1px;
    width: 320px;
    height: 250px;
} 
#goingToTheLanding {
    display: none;
    width: 500px;
    height: 500px;
    position: absolute;
}
.selectorDeNivel {
    display: none;
}
#lvl1_lvl2 {
   display: none;
}
#messagelvl1 {
    left: 392px;
    position: absolute;
    font-size: 30px;
    color: white;
}
li.lvl1 {
    left: 492px;
    top: 291px;
}
li.buttonObj {
    left: 532px;
    top: 311px;
}
.showLaia#lvl1_to_2 {
    position: absolute;
    left: 492px;
    top: 27%;
}
.container#containerlvl1_to_2{
    position: absolute;
    text-align: center;
    left: 310px;
    top: 119px;
    width: 1296px;
    height: 436px;
}
ul#level_characterSelected {
    /* display: flex; */
    left: -9px;
    top: 79px;
    position: absolute;
    /* bottom: 50%; */
    list-style-type: none;
}
li.lvl{
    margin-right: 50px !important;
}
.levelSkull {
    /* width: 180px; */
    width: 50px;
    left: 193px;
    position: absolute;
    top: 77px;
}
.levelSkull#skull2 {
    left: 239px;
}
.levelSkull#skull3 {
    left: 285px;
}
.levelSkull#skull4 {
    left: 331px;
}
#containerMessageImportant #containerLevelSelector{
    top: 34% !important;
    left: 85% !important;
    position: absolute !important;
    width: 996px !important;
    height: 636px !important;
    background-size: cover;
}
.container#containerLevelSelector {
    transform: scale(1.1);
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 310px;
    top: 119px;
    height: 408px;
    width: 560px;
}
#informativeText, #titleObjectedsRecolected {
    /* padding: 0px 25px 0px 25px;
    position: absolute;
    font-size: 45px;
    color: white; */
    top: 140px;
    padding: 0px 25px 0px 25px;
    position: absolute;
    font-size: 25px;
    color: white;
}
#titleObjectedsRecolected {
    left: 410px;
}
#buttonSureExit {
    /* position: absolute;
    left: 585px;
    bottom: 210px; */
    position: absolute;
    left: 275px;
    bottom: 150px;
}
.container#containerObjectObtaineds {
    display: none;
    left: 310px;
    top: 119px;
    width: 1296px;
    height: 436px;
}
.objectes {
    top: 370px;
    left: 710px;
    position: absolute;
}
#finishGameContainer {
    display: none;
    /* position: absolute; */
}
.container#containerFinish {
    position: absolute;
    left: 291px;
    border: 1px solid white;
    border-image: none;
    top: 50px;
    background-image: url(../img/fondo2.png);
    background-size: cover;
    
}
#laiaFinish {
    /* left: 0px; */
    left: 510px;
    animation: movefinish 5s linear;  
}
.container {
    /* border: 20px solid transparent; */
    /* border-image: url(../img/marco.png) 20 round; */
    /* border-radius: 15px; */
    width: 1296px;
    height: 836px;
    background-image: url(../img/menu-inicio.png);
    background-size: cover;
    /* background-color: #383681;     */

    text-align: center;
}
.container#containerStory {
    border: 1px solid white;
    border-image: none;
}
.container#containerMessageImportant {
    position: absolute;
    top: 150px;
    left: 560px;
    width: 756px;
    height: 556px;
}
.imgKeyboard {
    position: absolute;
    top: 30%;
    left: 38%;
}
.imagenControles {
    position: absolute;
    width: 70px;
    height: 90px;
}
#laiaRight {
    left: 65%;
    top: 50%;
}
#laiaLeft {
    left: 32%;
    top: 50%;
}
#laiaStand{
    top: 17%;
    left: 48%;
}
#esc_key {
    top: 75%;
    left: 30%;
}
#esc_description {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 77%;
    left: 35%;
}
li#goMenu {
    position: absolute;
    left: 1352px;
    top: 68px;
    /* animation: float 4s ease-in-out infinite; */
}
.showLaia{
    position: absolute;
    /* border: 1px solid white; */
    margin-left: 80px;
    width: 120px;
    /* position: absolute; */
    height: 120px;
    left: 44%;
    top: 38%;
    background-image: url(../img/laia.png);
    background-size: cover;  
}
.showLaia#laia {
    top: 390px;
    left: 847px;
}
.showLaia#laiaPause {
    top: 90px;
    left: 130px;
}
ul {
    bottom: 50%;
    list-style-type: none;
    
}

li {
    /* font-size: 20px; */
    width: 9em;
    height: 3em;
    /* color: white; */
    /* border-left: 0.08em solid; */
    /* position: relative; */
    margin-top: 0.8em;
    cursor: pointer;
}
#buttonContinue{
    margin: 0;
    padding: 0;
    /* top: 20%; */
    /* left: 25%; */
    position: fixed;
    background-image: url("../img/kenia-jungle(2).gif");
    background-size: cover;
    /* background-color: black; */
    width: 100%;
    height: 100%;
    /* display: grid; */
    display: grid;
    place-content: center;
    
}
.menu_de_inico {
    /* animation: animationMenu 2.3s linear; */
    height: 370px;
    width: 530px;
    background-image: url("../img/menu-inicio.png");
    background-size: cover;
    /* position: absolute; */
    padding-top: 20px;
    text-align: center;
    /* height: 00px; */
}
#pauseMenu {
    display: none;
}
.menu_de_pause {
    /* background-image: url("../img/menu-inicio.png");
    background-size: cover;
    top: 350px;
    position: absolute;
    left: 1430px;
    width: 260px;
    height: 170px; */

    /** EL BUENO */
    /* background-image: url(../img/menu-inicio.png);
    background-size: cover;
    top: 160px;
    position: absolute;
    left: 630px;
    width: 590px;
    height: 430px; */

    height: 370px;
    width: 530px;
    background-image: url(../img/menu-inicio.png);
    background-size: cover;
    /* position: absolute; */
    padding-top: 20px;
    text-align: center;
}
/* li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
} */

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    /* filter: brightness(0.6); */
}

li span {
    /* text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000; */
    /* font-weight: bold; */
    /* position: relative; */
    height: 120%;
    top: -10%;
    /* box-sizing: border-box; */
    /* border: 0.08em solid; */
    /* background-color: black; */
    background-image: url(../img/boton.png);
    background-size: cover;
    /* background-position:bottom; */

    /* background-color: #333; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-family: 'Pixelify Sans', sans-serif ; */
    /* text-transform: capitalize; */
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

li:hover span {
    transform: translateX(0.15em);
}