#deathMenu {
    display: none;
    margin: 0;
    padding: 0;
    top: 20%;
    left: 25%;
    position: fixed;
    width: 900px;
    height: 720px;
    /* display: grid; */
    place-content: center;
}
#showMessage{
    /* border: 1px solid white; */
    height: 100px;
}
.titleMenu {
    color: green;
    /* position: absolute; */
    left: 43%;
    top: 30px;
    font-family: 'Pixelify Sans', sans-serif;
}

.showLaia{
    /* border: 1px solid white; */
    margin-left: 80px;
    width: 120px;
    /* position: absolute; */
    height: 120px;
    left: 45%;
    top: 20%;
    background-image: url(../img/laia.png);
    background-size: cover;  
}
ul {
    bottom: 50%;
    list-style-type: none;
}

li {
    font-size: 25px;
    width: 8em;
    height: 2em;
    color: green;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}
#buttonContinue{
    margin: 0;
    padding: 0;
    /* top: 20%; */
    /* left: 25%; */
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    
}
.menu_de_inico {
    /* position: absolute; */
    padding-top: 20px;
    text-align: center;
    /* height: 00px; */
}
li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: black;
    /* background-color: #333; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pixelify Sans', sans-serif ;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

li:hover span {
    transform: translateX(0.15em);
}